[Desktop Entry]
Name=Cytadela
Comment=A conversion of an Amiga Doom clone "Cytadela"
Comment[pl]=Konwersja amigowego klona gry Doom "Cytadela"
Icon=cytadela
Exec=cytadela
Terminal=false
Type=Application
Categories=Game;X-FPPGame;
# vi: encoding=utf-8
